@import 'tailwindcss';

@theme {
  /* 기본 색상 */
  --color-black: #111111;
  --color-white: #ffffff;
  --color-stroke-selected: #007aff80;

  /* 회색 계열 */
  --color-gray-100: #303030;
  --color-gray-200: #505050;
  --color-gray-300: #767676;
  --color-gray-400: #999999;
  --color-gray-500: #d9d9d9;
  --color-gray-600: #f4f4f6;
  --color-gray-700: #fafafb;

  /* 브랜드 컬러 */
  --color-primary: #e65787;
  --color-secondary-green: #27998d;
  --color-secondary-blue: #6664e3;
  --color-primary-selected: #e6578708;
  --color-primary-inactive: #f5bccf;
  --color-primary-selected: #e6578708;
  --color-stroke-selected: #007affb2;

  /* 기능별 */
  --color-file-icon: #89a4bb;
  --color-audio-bar: #007aff;
  --color-secondary-ai-meeting: #f8792a;
  --color-secondary-event: #faa700;
  --color-secondary-mood-tracker: #0a85d1;
  --color-secondary-calendar: #ea4e43;

  /* 섹션 백그라운드 */
  --color-secondary-ai-meeting-bg: #f8792a08;
  --color-secondary-event-bg: #faa70008;
  --color-secondary-mood-tracker-bg: #0a85d108;

  /* 선 색상 */
  --color-stroke-100: #d8dadc;
  --color-stroke-200: #e6e9ef;

  /* 시스템 */
  --color-system-red: #c83028;

  /* 배경 딤 */
  --color-background-dimmed: rgba(0, 0, 0, 0.6);

  /* 랜딩 */
  --color-landing-bg: #fffdf9;

  /* 그라디언트 */
  --primary-gradient: linear-gradient(90deg, rgba(230, 87, 135, 0.7), #e65787);
  --white-gradient: linear-gradient(-90deg, rgba(255, 255, 255, 0), #ffffff);
}

/* 그라디언트 배경 */
@layer utilities {
  .bg-primary-gradient {
    background-image: var(--primary-gradient);
  }

  .bg-white-gradient {
    background-image: var(--white-gradient);
  }
}
