@import 'tailwindcss';

@theme {
  --font-pretendard: 'Pretendard';
}

@layer utilities {
  /* 제목 */
  .text-t1-sb {
    font-size: var(--text-28pxr);
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-t2-bd {
    font-size: var(--text-26pxr);
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t3-sb {
    font-size: var(--text-20pxr);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.025rem;
  }

  .text-t3-bd {
    font-size: var(--text-20pxr);
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t4-md {
    font-size: var(--text-18pxr);
    line-height: 130%;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .text-t4-bd {
    font-size: var(--text-18pxr);
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t5-rg {
    font-size: var(--text-16pxr);
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-t5-sb {
    font-size: var(--text-16pxr);
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-t5-bd {
    font-size: var(--text-16pxr);
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t6-sb {
    font-size: var(--text-15pxr);
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-t7-sb {
    font-size: var(--text-14pxr);
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  /* 문단, 목룍, 표 등 */
  .text-b1-rg {
    font-size: var(--text-16pxr);
    line-height: 160%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-b2-rg {
    font-size: var(--text-15pxr);
    line-height: 160%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-b3-md {
    font-size: var(--text-14pxr);
    line-height: 160%;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .text-b3-rg {
    font-size: var(--text-14pxr);
    line-height: 160%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-cap1-md {
    font-size: var(--text-13pxr);
    line-height: 130%;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .text-cap1-rg {
    font-size: var(--text-13pxr);
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-cap2-md {
    font-size: var(--text-12pxr);
    line-height: 130%;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .text-cap2-rg {
    font-size: var(--text-12pxr);
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-cap3-rg {
    font-size: var(--text-11pxr);
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0;
  }

  /* 버튼 */
  .text-bt1-sb {
    font-size: var(--text-15pxr);
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-bt2-sb {
    font-size: var(--text-14pxr);
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-bt3-sb {
    font-size: var(--text-13pxr);
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }
}
