@import 'tailwindcss';

:root {
  --gnb-top-height: var(--spacing-60pxr);
  --tab-height: var(--spacing-56pxr);

  /* ai-meeting-manager */
  --meeting-header-height: var(--spacing-104pxr);
}

@layer utilities {
  .assistant-wrapper {
    padding-left: var(--spacing-85pxr);
    padding-right: var(--spacing-85pxr);
  }

  /* 임시 포커스 스타일 */
  .flash-highlight {
    transition: background-color 0.2s;
    background-color: rgba(59, 130, 246, 0.08);
  }
}
