@import 'tailwindcss';

@import './token/scrollbar.css';
@import './token/colors.css';
@import './token/fonts.css';
@import './token/shadows.css';
@import './token/break-point.css';
@import './token/define-pxr.css';
@import './token/markdown.css';
@import './custom-style.css';
@import './animation.css';
@import './token/animation-delay.css';

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-white text-black antialiased;
    font-family: var(--font-pretendard), sans-serif;

    /* 기본은 스크롤 가능 */
    overflow-y: scroll;
  }

  /* #cannnot-page-scroll 에서는 스크롤 불가 */
  body:has(#cannot-page-scroll) {
    overflow-y: hidden;
  }

  p {
    word-break: keep-all;
    text-wrap: pretty;
  }

  button {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
