@import 'tailwindcss';

@import './token/scrollbar.css';
@import './token/colors.css';
@import './token/fonts.css';
@import './token/custom-style.css';
@import './token/shadows.css';
@import './token/break-point.css';
@import './token/define-pxr.css';

@import './animation.css';

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-white text-black antialiased;
    font-family: var(--font-pretendard), sans-serif;
  }

  p {
    word-break: keep-all;
    text-wrap: pretty;
  }

  button {
    cursor: pointer;
  }
}
